/* In your CSS file (e.g., styles.css) */

.my-button {
    background-color: #377ba0;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .my-button:hover {
    background-color: #111747;
  }
/* In your CSS file (e.g., styles.css) */

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .title {
    text-align: center;
  }
    
.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.custom-title {
  font-family: 'YourCustomFont', sans-serif; /* Replace 'YourCustomFont' with your desired font name */
  font-size: 40px; /* Adjust the font size as needed */
  font-weight: bold; /* Set font weight as needed */
}